:root {
  --color-of-main-text: #212121;
  --color-of-second-text: #757575;
  --akcent: #2196f3;
  --white-color: #ffffff;
  --developed-by: rgba(255, 255, 255, 0.4);
  --second-color-background: #f5f4fa;
  --secondary-buttom-background: #f5f4fa;
  --background-footer: #2f303a;
  --footer-text: rgba(255, 255, 255, 0.6);
  --items-color: #afb1b8;
}

/* color of main text #212121; */
/* color of the second text #757575; */
/* white color #ffffff; */
/* akcent #2196F3; */
/* developed by rgba(255, 255, 255, 0.4); */
/* the second color of background #F5F4FA; */

/* Making border-box type of box model*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 80px;
  top: 0px;
  left: 0px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/*body*/
body {
  color: var(--color-of-second-text);
  background-color: var(--white-color);
  font-family: roboto, sans-serif;
  padding-top: 80px;

  margin: 0px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*logo*/
.logo {
  color: var(--color-of-main-text);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
}
.logo.main {
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 26px;
  line-height: 1.19;
}
.logo.secondary {
  display: inline-block;
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 10px;
}
span {
  color: var(--akcent);
}
.span {
  color: var(--white-color);
}

/* navigtion */
.site-nav a {
  color: var(--color-of-main-text);
  display: block;
  padding-top: 32px;
  /*padding-bottom: 32px;*/

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--akcent);
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 85px;
  padding: 0px;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--akcent);
}
.link.portfolio {
  color: var(--akcent);
}
.link.studio {
  color: var(--akcent);
}
.link.portfolio::after {
  display: block;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: url(../images/hover2.svg);
}
.link.studio::after {
  display: block;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-image: url(../images/hover.svg);
}
.connection a {
  color: var(--color-of-second-text);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.connection a:hover,
.connection a:focus {
  color: var(--akcent);
}
.connection {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: auto;
}
.connection .items + .items {
  margin-left: 30px;
}
/*.connection*/
.mail::before {
  display: inline-flex;
  margin-right: 10px;
  min-height: 13px;
  min-width: 16px;
  /*content: "";
  background-image: url(../images/envelope.svg);
  background-repeat: no-repeat;
  background-size: contain;*/
}
.mail {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope {
  fill: var(--color-of-second-text);
  height: 12px;
  width: 16px;
  margin-right: 10px;
}
.mail:hover,
.mail:focus {
  color: var(--akcent);
}
.mail:hover > .envelope {
  fill: var(--akcent);
}
.mail:focus > .envelope {
  fill: var(--akcent);
}
.smartphone {
  fill: var(--color-of-second-text);
  height: 15px;
  width: 10px;
  margin-right: 10px;
}

.phone {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover,
.phone:focus {
  color: var(--akcent);
}
.phone:hover > .smartphone {
  fill: var(--akcent);
}
.phone:focus > .smartphone {
  fill: var(--akcent);
}
/*.phone::before {
  display: inline-flex;

  margin-right: 10px;
  min-height: 15px;
  min-width: 10px;
  content: "";
  background-image: url(../images/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
}*/
/* main part */

.section.advantages .section-title {
  color: var(--color-of-main-text);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}
.advantages-title {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.advantages-title p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages-title .items::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.advantages-title .items:nth-of-type(1)::before {
  background-image: url(../images/antenna.svg), url(../images/Rectangle.svg);
}
.advantages-title .items:nth-of-type(2)::before {
  background-image: url(../images/clock.svg), url(../images/Rectangle.svg);
}
.advantages-title .items:nth-of-type(3)::before {
  background-image: url(../images/diagram1.svg), url(../images/Rectangle.svg);
}
.advantages-title .items:nth-of-type(4)::before {
  background-image: url(../images/astronaut1.svg), url(../images/Rectangle.svg);
}
.advantages-title .items + .items {
  margin-left: 30px;
}
.advantages-title .items {
  width: 270px;
}

.section.advantage,
.section.feathure,
.section.team,
.section.clients,
footer {
  letter-spacing: 0.03em;
}
.section.advantages p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section.advantages {
  padding-top: 94px;
  margin-bottom: 0px;
}
.section.advantages .container {
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* banner */

.banner {
  padding-top: 200px;
  text-align: center;
  color: var(--color-of-main-text);
  letter-spacing: 0.06em;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* buttom */
.buttom.primary {
  color: var(--white-color);
  background-color: var(--akcent);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 8px 10px 29px;
  display: flex;
  width: 200px;
  align-items: center;
}
.buttom.primary::after {
  content: "";
  display: inline-block;
  background-image: url(../images/send.svg);
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background-position: center;
}
.buttom.primarys {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--akcent);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

button:hover,
button:focus {
  color: var(--white-color);
  background-color: var(--akcent);
}

.buttom-secondary {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--akcent);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
.buttom-secondary:hover,
.buttom-secondary:focus {
  color: var(--akcent);
  background-color: var(--white-color);
}
/*Portfolio button in the main*/
button {
  font-family: roboto, sans-serif;
  border-radius: 4px;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  padding: 6px 22px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons li + li {
  margin-left: 8px;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
}

.feathure h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.team h2 {
  text-align: center;
}
.clients h2 {
  text-align: center;
}
.feathure-title {
  display: flex;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.feathure-title img {
  display: block;
}

.feathure-title p {
  position: absolute;
  bottom: 0px;
  width: 370px;
}
.feathure-title .item {
  min-width: 370px;
}
.feathure-title .item + .item {
  margin-left: 30px;
}

/*In general hear shold have been the second page*/
.projects h3,
h1 {
  color: var(--color-of-main-text);
  margin-bottom: 4px;
  margin-top: 0px;
}
.projects p {
  color: var(--color-of-second-text);
  margin-bottom: 0px;
  margin-top: 0px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.projects .items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  padding-bottom: 20px;
  position: relative;
}

.projects div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 294px;
  margin-bottom: 20px;
}
.projects div::before {
  display: inline-block;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 368px;
  height: 294px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects div:hover::before,
.projects div:focus::before {
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: background-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0px);
}

.projects .items:hover,
.projects .items:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.projects .items:nth-child(3n) {
  margin-right: 0px;
}
.projects .items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects img {
  display: block;
  width: 368px;
  height: 294px;
}
.first-paragraf {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-left: 24px;
}
.second-paragraf {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  top: 63px;
  left: 24px;
  right: 24px;
  transform: translateY(299px);
  transition-property: color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects div:hover .second-paragraf,
.projects div:focus .second-paragraf {
  color: var(--white-color);
  transform: translateY(0px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
}
.section.feathure {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0px;
}
.section.feathure .section-title {
  color: var(--color-of-main-text);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section.feathure p {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section.team {
  background-color: var(--second-color-background);
  padding-top: 94px;
  padding-bottom: 94px;

  margin-bottom: 0px;
}
.team-title {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.team-title img {
  display: block;
  margin-bottom: 30px;
}
.team-title .item {
  min-width: 270px;
  background-color: var(--white-color);
  border-radius: 4px;
  padding-bottom: 24px;
}
.team-title .item:hover,
.team-title .item:focus {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-title .item + .item {
  margin-left: 30px;
}

.section.team .section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-top: 0px;
  color: var(--color-of-main-text);
}
.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  transition-property: background-color;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover,
.social:focus {
  background-color: var(--akcent);
  border-radius: 50%;
}
.instagram {
  fill: var(--items-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover > .instagram {
  fill: var(--white-color);
}
.social:focus > .instagram {
  fill: var(--white-color);
}
.twitter {
  fill: var(--items-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover > .twitter {
  fill: var(--white-color);
}
.social:focus > .twitter {
  fill: var(--white-color);
}
.facebook {
  fill: var(--items-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover > .facebook {
  fill: var(--white-color);
}
.social:focus > .facebook {
  fill: var(--white-color);
}
.linkedin {
  fill: var(--items-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover > .linkedin {
  fill: var(--white-color);
}
.social:focus > .linkedin {
  fill: var(--white-color);
}
.logotips {
  display: flex;
  justify-content: space-evenly;
  padding-left: 32px;
  padding-right: 32px;
}
.section.team .own-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-of-main-text);
  margin-bottom: 10px;
  margin-top: 0px;
}
.section.team .own-skills {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
  margin-top: 0px;
}

.section.clients .section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--color-of-main-text);
  margin-top: 0px;
  margin-bottom: 50px;
}
.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-bottom: 0px;
}
.section.clients .item {
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.item .item-box + .item-box {
  margin-left: 30px;
}
.item .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item .icon:hover,
.item .icon:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.clients {
  fill: var(--items-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients:hover,
.clients:focus {
  fill: var(--akcent);
}
address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--footer-text);
}
address .address-first {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--white-color);
}
address .address-second {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--footer-text);
}
address .address-seconds {
  display: inline-block;

  color: var(--footer-text);
}
div b {
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
}
.goit {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  color: var(--footer-text);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  /*padding-bottom: 21px;*/
}
.main-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

footer {
  background-color: var(--background-footer);
  padding-top: 56px;
  padding-bottom: 21px;
}
.container-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 28px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.connect-icon {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.connect-icon .icon + .icon {
  margin-left: 10px;
}

.connect b {
  display: inline-block;
  margin-bottom: 21px;
}
.icon-pic {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-pic:hover,
.icon-pic:focus {
  background-color: var(--akcent);
}
.footer-icon {
  fill: var(--white-color);
}
.sending b {
  display: inline-block;
  margin-bottom: 21px;
}
